
section{
	display: flex;
	justify-content: right;
	width: 100%;
}	

input[type="submit"]{ 
	background: blue;
	color: white;
	height: 35px;
	width: 100px;
	border-radius: 20px;
}
input[type="text"]{ 
	background: white;
	color: black;
	height: 22px;
	width: 70%;
}
input[type="password"]{ 
	background: white;
	color: black;
	height: 22px;
	width: 70%;
}

#izquierda{
	
	display: inline-block;
	height: 375px;
	width: 50%;
	text-align: right;
}

#derecha{
	
	display: inline-block;
	height: 375px;
	width: 49%;
	padding-left: 10%;
}

#Cabecera{
	height: 175px;
	padding-left: 80%;
	text-align: left;
}

table[name=Confirmar] {
	padding-left: 350px;
	height: 125px;
}

#etiquetas{
	display: inline-block;
}

.boton {
    background-color:blue;
    color: white;
    border: 2px solid blue;
    border-radius: 4px;
    padding: 8px;
}

#contenido_etiquetas{
	display: inline-block;

}
