<html>

<head>
    <meta charset="utf-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Explorar.css')}}" type="text/css" media="all" />
    <script src="{{url_for('static', filename='js/Biblioteca.js')}}"></script>
</head>
<body>
    <table>
        <thead>
            <th style="width: 3%;"><img src="{{url_for('static', filename='images/LetraB.jpg')}}" style="width: 18%; padding-left: 70%;" /></th>
            <th style="width: 20%; padding-left: 0%;">
                <h3>The blogs company</3>
            </th>
        </thead>
    </table>
    <table style="margin-top: 30px; width: 100%; padding-left: 200px;">
        <thead>
            <th style="width: 30%;" valign="bottom">
                <input type="text" class="textBox" placeholder="Realizar una busqueda" style="width: 100%;">
            </th>
            <th style="width: 50%;"></th>
        </thead>
    </table>

    <br><br>
    <table style=" margin-right: 5px; width: 50%; padding-left: 200px;">
        <tr>
            <td style="width: 10%;">Nickname</td>
            <td colspan="2" style="width: 90%;">Titulo del blog</td>
            <td rowspan="2">
                <select name="" id="" style="width: 20px;" onchange="opciones(this)">
                    <option value=""></option>
                    <option value="editar">Editar</option>
                    <option value="eliminar">Eliminar</option>
                    <option value="descargar">Descargar</option>
                    <option value="comentarios">Ver comentarios</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="border: 2px solid black; width: 20%;"></td>
            <td colspan="2"><textarea name="" id="" cols="30" rows="5" style="width: 100%;"></textarea></td>
        </tr>
    </table>
    <br><br>
    <table style=" margin-right: 5px; width: 50%; padding-left: 200px;">
        <tr>
            <td style="width: 10%;">Nickname</td>
            <td colspan="2" style="width: 90%;">Titulo del blog</td>
            <td rowspan="2">
                <select name="" id="" style="width: 20px;" onchange="opciones(this)">
                    <option value=""></option>
                    <option value="editar">Editar</option>
                    <option value="eliminar">Eliminar</option>
                    <option value="descargar">Descargar</option>
                    <option value="comentarios">Ver comentarios</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="border: 2px solid black; width: 20%;"></td>
            <td colspan="2"><textarea name="" id="" cols="30" rows="5" style="width: 100%;"></textarea></td>
        </tr>
        <tr>
    </table>
    <br><br>
    <table style=" margin-right: 5px; width: 50%; padding-left: 200px;">
        <tr>
            <td style="width: 10%;">Nickname</td>
            <td colspan="2" style="width: 90%;">Titulo del blog</td>
            <td rowspan="2">
                <select name="" id="" style="width: 20px;" onchange="opciones(this)">
                    <option value=""></option>
                    <option value="editar">Editar</option>
                    <option value="eliminar">Eliminar</option>
                    <option value="descargar">Descargar</option>
                    <option value="comentarios">Ver comentarios</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="border: 2px solid black; width: 20%;"></td>
            <td colspan="2"><textarea name="" id="" cols="30" rows="5" style="width: 100%;"></textarea></td>
        </tr>
    </table>
    <br>
    <table style="width: 100%;">
        <tr>
            <td style="width: 75%"></td>
            <td style="width: 10%" valign="center">2020</td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/in.jpeg')}}" alt="in"></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/twitter.jpeg')}}" alt="twitter"></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/facebook.jpeg')}}" alt="facebook"></td>
        </tr>
    </table>
</body>
</html>