<html>
<head>
    <meta charset="utf-8">
    <title>Comentarios</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Principal.css')}}" type="text/css" media="all" />
    <script src="{{url_for('static', filename='js/Comentarios.js')}}"></script>
</head>

<body>
    <table>
        <thead>
            <th style="width: 5%;"><img src="{{url_for('static', filename='images/LetraB.jpg')}}" style="width: 50%; padding-left: 80%;"/></th>
            <th style="width: 20%;"><h3>The blogs company</3></th>
            <th style="width: 45%;"></th>
            <th style="width: 10%;">
                <select name="Opciones" id="opciones" class="opciones" onchange="cerrarSesion(this)">
                    <option value="">Opciones</option>
                    <option value="cerrar">Cerrar sesión</option>
                    <option value="inicio">Inicio</option>
                 </select>
            </th>
        </thead>
    </table>
    <br>
    <table>
        <thead>
            <th style="width: 10%;">
                <img src="{{url_for('static', filename='images/Usuario.png')}}" alt="usuario" style="width: 100%;">
            </th>
            <th style="width: 20%;" valign="bottom">
                <input type="text" class="textBox" placeholder="Nombre del usuario (Nickname)" style="width: 100%;">
            </th>
            <th style="width: 70%;"></th>
        </thead>
    </table>
    <br><br>
    <table style="margin-left: 20px; margin-right: 5px; width: 95%;">
        <tr>
            <td><a href="/perfil"><button class="menuOpcion" style="width: 100%;">Información personal</button></a></td>
            <td><button class="comentario" style="width: 100%;">Mis comentarios</button></td>
            <td><a href="/eliminar-cuenta"><button class="menuOpcion" style="width: 100%;">Eliminar cuenta</button></a></td>
        </tr>
    </table>
    <br><br>
    <table style="margin-left: 40px; margin-right: 5px; width: 85%;">
        <tr>
            <td style="width: 10%;">Nickname</td>
            <td style="width: 90%;">Titulo del blog</td>
        </tr>
        <tr>
            <td rowspan="2" style="border: 2px solid black;"></td>
            <td><textarea name="" id="" cols="30" rows="5"></textarea></td>
        </tr>
        <tr><td><input type="text" name="" id="" placeholder="Mi comentario Hola"></td></tr>
    </table>
    <table style="margin-left: 40px; margin-right: 5px; width: 85%;">
        <tr>
            <td style="width: 10%;">Nickname</td>
            <td style="width: 90%;">Titulo del blog</td>
        </tr>
        <tr>
            <td rowspan="2" style="border: 2px solid black;"></td>
            <td><textarea name="" id="" cols="30" rows="5"></textarea></td>
        </tr>
        <tr><td><input type="text" name="" id="" placeholder="Mi comentario Hola"></td></tr>
    </table>
    <br>
    <table style="width: 100%;">
        <tr>
            <td style="width: 75%"></td>
            <td style="width: 10%" valign="center"><h3>2020</h3></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/in.jpeg')}}" alt="in"></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/twitter.jpeg')}}" alt="twitter"></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/facebook.jpeg')}}" alt="facebook"></td>
        </tr>
    </table>
</body>
</html>