<html>

<head>
    <meta charset="utf-8">
    <title>Pagina de inicio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Principal.css')}}" type="text/css" media="all" />
    <script src="{{url_for('static', filename='js/Inicio.js')}}"></script>
</head>

<body>
    <table>
        <thead>
            <th style="width: 5%;"><img src="{{url_for('static', filename='images/LetraB.jpg')}}" style="width: 50%; padding-left: 80%;"/></th>
            <th style="width: 20%;"><h3>The blogs company</3></th>
            <th style="width: 45%;"></th>
            <th style="width: 10%;">
                <select name="Opciones" id="opciones" class="opciones" onchange="cerrarSesion(this)">
                    <option value="">Opciones</option>
                    <option value="cerrar">Cerrar sesión</option>
                    <option value="inicio">Inicio</option>
                 </select>
            </th>
            <th style="width: 15%; align-items: center;" valign="center">
                <a href="/perfil"><button type="submit" name="usuario" class="usuario">Nombre de Usuario</button></a>
            </th>
            <th>
                <img src="{{url_for('static', filename='images/Usuario.png')}}" alt="usuario" style="width: 20%; border: 1px solid blue; padding: 10px;">
            </th>
        </thead>
    </table>
    <br><br>
    <table>
        <tbody>
            <tr>
                <td>
                    <select name="Menu" id="menu" class="menu">
                        <option value="">Menu</option>
                    </select>
                </td>
                <td>
                    <a href="/crear"><button class="menuOpcion">Crear blog</button></a>
                </td>
                <td>
                    <a href="/biblioteca"><button class="menuOpcion">Mi biblioteca</button></a>
                </td>
                <td>
                    <a href="/explorar"><button class="menuOpcion">Explorar</button></a>
                </td>
                <td>
                    <button class="menuOpcion" onclick="openForm()">Ayuda</button>
                </td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>
                    <div class="form-popup" id="myForm">
                        <table style="border: 2px solid gray;">
                            <thead>
                                <th><h4>Preguntas frecuentes</h4></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="textBoxSearch" placeholder="Realizar una busqueda" style="width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pregunta 1</td>
                                </tr>
                                <tr>
                                    <td>Pregunta 2</td>
                                </tr>
                                <tr>
                                    <td>Pregunta 3</td>
                                </tr>
                                <tr>
                                    <td>Guia de uso</td>
                                </tr>
                                <tr>
                                    <td><button onclick="closeForm()">Cerrar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table2" style="width: 100% !important;">
        <tbody>
            <tr">
                <td colspan="3" style="width: 100%; border: 1px solid black;">Vista de blogs</td>
            </tr>
            <tr style="height: 390px;">
                <!-- Espacio para las publicaciones -->
                <td colspan="3" style="height: 350px; border: 1px solid black;"></td>
            </tr>
            <tr>
                <td style="width: 40%; padding-left: 20px;"></td>
                <td style="width: 20%;">
                    <button class="comentario" style="margin-right: 30px;">Comentarios</button>
                    <button class="usar" style="margin-left: 30px;">Usar plantilla</button>
                </td>
                <td style="width: 40%;"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                
            </tr>
        </tfoot>
    </table>
    <br>
    <table style="width: 100%;">
        <tr>
            <td style="width: 75%"></td>
            <td style="width: 10%" valign="center">2020</td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/in.jpeg')}}" alt="in"></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/twitter.jpeg')}}" alt="twitter"></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/facebook.jpeg')}}" alt="facebook"></td>
        </tr>
    </table>
</body>
</html>