<html>
<head>
    <meta charset="utf-8">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Principal.css')}}" type="text/css" media="all" />
    <script src="{{url_for('static', filename='js/Principal.js')}}"></script>
</head>
<body>
    <table>
        <thead>
            <th style="width: 5%;"><img src="{{url_for('static', filename='images/LetraB.jpg')}}" style="width: 50%; padding-left: 80%;"/></th>
            <th style="width: 20%;"><h3>The blogs company</3></th>
            <th style="width: 55%;"></th>
            <th style="width: 20%;">
                <div id="derecha">
                    <button type="submit" name="iniciar" class="iniciar" onclick="openForm()">Iniciar sesión</button>
                    <a href="/registro">
                        <button type="submit" name="registro" class="registro">Registrarse</button>
                    </a>
                </div>
            </th>
        </thead>
        {% for message in get_flashed_messages() %}
            <tr>
                <td colspan="3"></td>
                <td><div class="flash" style="background-color: red; color: white;"><center>{{message}}</center></div></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td>
                <div class="form-popup" id="myForm">
                    <form action="/login" class="form-container" method="POST">
                        <table border="1" cellspacing="0" cellpadding="" width="10%" height="15%" style="width: 100%;">
                            <tr style=" width:100%">
                                <td style="width: 100%; text-align:left">
                
                                    <div id="registrar">
                
                                    </div>
                                    <!-- fin opcion-->
                
                                    <div id="envoltura">
                                        <div id="contenedor">
                
                                            <div id="cabecera">
                
                                            </div>
                
                                            <div id="cuerpo">
                                                <form id="form-login" action="" method="post" autocomplete="off">
                                                    <!--A saber, el atributo for funciona como el id.-->
                                                    <!--ejemplo <label for="usuario">Usuario:</label>-->
                                                    <!--required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
                                                    <p><label>Usuario:</label></p>
                                                    <input name="usuario" type="text" id="usuario" placeholder="Ingresa Usuario" autofocus=""></p>
                                                    <p><label>Contraseña:</label></p>
                
                                                    <input name="contrasenia" type="password" id="contrasenia" placeholder="Ingresa Password"></p>
                                                    <a href="">
                                                        <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>
                                                    </a>
                                                    <a href="/recuperar" </a>Olvido su contraseña</a>
                                                    <br>
                
                                                </form>
                                            </div>
                                            <!--fin cuerpo-->
                                            </br>
                                            <div id="pie">Usuario Nuevo</div>
                                            <a href="/registro">
                                                <button type="button">Registrar</button>
                                            </a>
                                            <button type="button" onclick="closeForm()">Cancelar</button>
                                        </div>
                                        <!-- fin contenedor -->
                                    </div>
                                    <!--fin envoltura-->
                
                
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <br><br>
    <table class="table2" style="width: 100% !important;">
        <tbody>
            <tr">
                <td colspan="3" style="width: 100%; border: 1px solid black;">Vista de blogs</td>
            </tr>
            <tr style="height: 390px;">
                <!-- Espacio para las publicaciones -->
                <td colspan="3" style="height: 350px; border: 1px solid black;"></td>
            </tr>
            <tr>
                <td style="width: 40%; padding-left: 20px;"></td>
                <td style="width: 20%;">
                    <button class="comentario" style="margin-right: 30px;">Comentarios</button>
                    <button class="usar" style="margin-left: 30px;">Usar plantilla</button>
                </td>
                <td style="width: 40%;"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                
            </tr>
        </tfoot>
    </table>
    <br>
    <table style="width: 100%;">
        <tr>
            <td style="width: 75%"></td>
            <td style="width: 10%" valign="center"><h3>2020</h3></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/in.jpeg')}}" alt="in"></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/twitter.jpeg')}}" alt="twitter"></td>
            <td style="width: 5%"><img style="width: 20px;" src="{{url_for('static', filename='images/facebook.jpeg')}}" alt="facebook"></td>
        </tr>
    </table>
</body>
</html>