<html>
<head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Registrarse.css')}}" type="text/css" media="all" />
</head>

<body>
    <header>
        <img src="{{url_for('static', filename='images/LetraB.jpg')}}" width="3%" height="25%" vertical-align="middle" />
        <span>The blogs company</span>
    </header>
    <table>
        <tbody>
            {% for message in get_flashed_messages() %}
            <tr>
                <td colspan="3"></td>
                <td><div class="flash" style="background-color: red; color: white;"><center>{{message}}</center></div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <section>
        <div id="izquierda">

            <form action="/registrarse" method="POST">

                Nombre 
                <input type="text" name="nombre" id="nombre"> 
                <br><br><br> 
                Apellidos 
                <input type="text" name="apellidos" id="apellidos">
                <br><br><br> 
                Correo 
                <input type="text" name="correo" id="correo"> 
                <br><br><br> 
                Usuario <input type="text" name="usuario" id="usuario"> 
                <br><br><br> 
                Contraseña
                <input type="password" name="contrasena" id="contrasena"> 
                <br><br><br> 
                Confirmar Contraseña 
                <input type="password" name="confirmar_contrasena" id="confirmar_contrasena"> 
                <br><br><br>

                <input type="submit" name="Continuar" value="Continuar">

            </form>

        </div>

        <div id="derecha">
            <img src="{{url_for('static', filename='images/Cataratas_y_paisaje.jpg')}}" width="600" height="400" style="vertical-align:middle" />
        </div>
    </section>
</body>
</html>