<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.css')}}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome/all.css')}}" type="text/css" media="all"/>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/LetraB.jpg')}}" type="image/x-icon">
    <title>The blogs company | Registro</title>
</head>
<body class="bg-light">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="main-header">
        <ul id="pushleftmenu" class="navbar-nav">
        <li class="nav-item">
            <a href="/index">
                <img src="{{url_for('static', filename='images/LetraB.jpg')}}" alt="LetraB" width="40" height="50" class="d-inline-block align-top">
            </a>
        </li>
        <h4 class="p-2">
            The blogs company
        </h4>
        </ul>
        <ul class="navbar-nav ml-auto">
            <div class="dropleft mr-2">
                <a class="nav-link btn btn-outline-primary" onclick="showOrHideLogin()" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Iniciar sesión</a>
                <div class="dropdown-menu" id="dropdown-menu">
                    <form class="px-4 py-3" action="/login" method="POST">
                        <div class="mb-3">
                        <label for="correo" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" id="correo" placeholder="email@example.com">
                        </div>
                        <div class="mb-3">
                        <label for="clave" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="clave" id="clave" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">¿Olvidaste tu contraseña?</a>
                    </div>
            </div>
        </ul>
    </nav>
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <form action="/registrarse" method="POST">
                        <div class="card-header">
                            Formulario de registro
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" id="rnombre">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="apellidos">Apellidos</label>
                                    <input type="text" class="form-control" name="apellidos" id="rapellidos">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="correo">Correo electrónico</label>
                                    <input type="text" class="form-control" name="correo" id="rcorreo">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="usuario">Usuario</label>
                                    <input type="text" class="form-control" name="usuario" id="rusuario">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="clave">Contraseña</label>
                                    <input type="password" class="form-control" name="clave" id="rclave">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="confirma-clave">Confirma tu contraseña</label>
                                    <input type="password" class="form-control" name="confirma-clave" id="rconfirma-clave">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer clearfix">
                            <button type="reset" class="btn btn-outline-primary">
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/Cataratas_y_paisaje.jpg')}}" alt="Cataratas y paisaje" style="width: 90%; height: 100%;">
            </div>
        </div>

    <footer class="text-muted mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p class="my-2">2020 &copy; Grupo 9 - E, Misión Tic Uninorte</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pl-5">
                    <i class="fab fa-linkedin fa-2x p-1"></i>
                    <i class="fab fa-twitter-square fa-2x p-1"></i>
                    <i class="fab fa-facebook-square fa-2x p-1"></i>
                </div>
            </div>
        </div>
      </footer>
</body>
<script src="{{url_for('static', filename='js/new/registro.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap/JQuery.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js')}}"></script>
</html>